<h1>Add a New Restaurants</h1>

<%= simple_form_for [@restaurant] do |f| %>
  <%= f.error_notification %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>

