<h1><%= @restaurant.name %></h1>


<h2><%= @restaurant.name %> details</h2>
<ul>
  <li>Category: <%=@restaurant.category  %></li>
  <li>Address: <%= @restaurant.address %></li>
</ul>

<h2><%= @restaurant.name %> reviews</h2>

<% @reviews.each do |review| %>
  <p><%= review.content %> <%= '*'*(review.rating.to_i) %></p>
<% end %>

<%= link_to "add a new review", new_restaurant_review_path(@restaurant)  %>


